{% extends "base.html.twig" %}

{% block title %}

    Création d'une catégorie

{% endblock %}

{% block body %}

    <h1>Ajouter une nouvelle catégorie</h1>

    {{ form(form) }}
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.label }}</td>
            <td>
                <a href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
