{% extends "base.html.twig" %}

{% block body %}

    <h1>Page d'accueil</h1>

<section>
    {% for article in articles  %}
        <article>
            <ul>
                <li>

                    <h2>
                        {{ article.title }}
                    </h2>
                    <a href="{{ path('article_show', {'id': article.id}) }}">Voir plus</a>
                    <hr>
                </li>
            </ul>
        </article>
    {% endfor %}
</section>

{% endblock %}
