@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;

    .main-content{
        display:flex;
        justify-content: space-around;
        list-style: none;
        text-align: left;
    }
}

ul {
    list-style: none;
}